{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Editing meep</h1>
                <br />
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-2 w-100" style="max-width: 80px; padding: 0;">
                                {% if meep.user.profile.profile_image %}
                                <a href="{% url 'profile' meep.user.id %}">
                                    <img src="{{ meep.user.profile.profile_image.url }}"
                                        class="img-thumbnail rounded-circle object-fit-cover"
                                        style="width: 80px; height: 80px;"
                                        alt="{{ meep.user.profile.user.username }}">
                                </a>
                                {% else %}
                                <a href="{% url 'profile' meep.user.id %}">
                                    <img src="{% static 'images/blank-profile-picture.png' %}"
                                        class="img-thumbnail rounded-circle object-fit-cover"
                                        style="width: 80px; height: 80px;"
                                        alt="{{ meep.user.profile.user.username }}">
                                </a>
                                {% endif %}
                            </div>
                            <div class="col-10">
                                <strong>{{ meep.body }}</strong>
                            <br/>
                            <small class="text-muted">
                               ({{ meep.created_at|date:"d/m/Y H:i" }})
                                By @{{ meep.user.username }}
                                <br/>
                                {{ meep.number_of_likes }}
                                {% if request.user in meep.likes.all %}
                                    <a href="{% url 'meep_like' meep.id %}" style="text-decoration: none;">
                                        <i class="fa-solid fa-heart fa-lg" style="color: red;"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'meep_like' meep.id %}" style="text-decoration: none;">
                                        <i class="fa fa-heart-o fa-lg" style="color: red;"></i>
                                    </a>
                                {% endif %}
                            </small>
                            </div>
                            <br/>
                         </div>
                    </div>
                </div>
                {% if form %}
                    <form method=POST>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary">Edit Meep!</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}