# Virtual environment
venv/
__pycache__/

# IDE files
.vscode/
*.pyc

# Local development settings
*.env

# Database
db.sqlite3

# Media files
media/

# Static files
static/
staticfiles/

# Compiled Python files
*.pyo
*.pyd

# Log files
*.log

# Ignore pipenv virtual environment
Pipfile
Pipfile.lock

